@import '_reset.scss';


.zone-1 {
  fill: blue;
}

.zone-2 {
  fill: green;
}

.zone-3 {
  fill: red;
}

.zone-4 {
  fill: yellow;
}

.zone-5 {
  fill: orange;
}

.zone-6 {
  fill: orchid;
}

.zone-7 {
  fill: rgb(0, 255, 251);
}

.zone-8 {
  fill: rgb(60, 255, 0);
}

.zone-9 {
  fill: rgb(157, 0, 255);
}

.zone-10 {
  fill: rgb(255, 0, 140);
}

.zone-11 {
  fill: rgb(0, 157, 255);
}

.zone-12 {
  fill: rgb(255, 98, 0);
}